.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    
}
.navbar .cont{
   background-color: #b094ed;
   text-align: center;
   font-size: 12px;
   min-width: 290px;
   max-width: 450px;
   margin: 2rem;
   border-radius: 3px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}



