.home_boards{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 100% 100%;
}
.warning{
    text-align: center;
    color: #fff;
}