.editable{
    background-color: rgb(243, 186, 237);
    border-radius: 5px;
    border: 2px solid #fff;
    width: 100%;
    height: fit-content;
    padding: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.editable:hover{
    background-color: rgb(241, 221, 250);
}
.editable p{
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    width: 100%;
    text-align: center;
}
.editable_edit{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.editable_edit input{
    border-radius: 3px;
    width: fit-content;
    outline: none;
    width: 100%;
    border: 2px solid rgb(231, 179, 255);
    padding: 10px;
    font-size: 1rem;
}
.editable_edit_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
