.footer{
    width: 100%;
    background-color: transparent;
    color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.footer_copyright{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}