.card{
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
}

.card_title{
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.card_title input{
    margin-top: 6px;
}
.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_footer svg{
    height: 25px;
    width: 25px;
}
.card_footer p svg{
    height: 15px;
    width: 15px;
}
.card_footer p{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
}