.card{
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #fff;
    color: #5b5757;
    display: flex;
    border-bottom: 1px solid gray;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    transition: all ease 500ms;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card_title{
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.card_title span{
    font-family: 'Handlee', cursive;
    font-size: 20px;
}
.card_title input{
    margin-top: 6px;
    height: 16px;
    width: 16px;
}
.card_title input:hover{
    scale: 1.1;
}
.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_footer span svg{
    margin-bottom: 10px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: all ease 100ms;
    animation: vibration 500ms;
}
.card_footer span svg:hover{
    scale: 1.1;
    animation: vibration 500ms;
}

@keyframes vibration {
    0%,20%{
        transform: rotateY(20deg);
    }
    20%,40%{
        transform: rotateY(-40deg);
    }
    40%,60%{
        transform: rotateY(40deg);
    }
    60%,80%{
        transform: rotateY(-40deg);
    }
    80%,100%{
        transform: rotateY(20deg);
    }
}
    
.card_footer p svg{
        height: 15px;
    width: 15px;
}
.card_footer p{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
    opacity: 100%;
   
}
.delete{
    position: relative;
    animation: popout 500ms;
}

@keyframes popout{
    0%,50%{
        transform: translateX(10px);
    }
    50%,100%{
        transform: translateX(200px);
        opacity: 0%;
    }
}