.todoboard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todoBoard_frame{
    display: flex;
    width: 400px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}